.challenge {    
    display: flex;
    margin-top: 128px;
    position: relative;
    & .challenge__text-part{
        margin-right: 125px;
        margin-bottom: 434px;
        margin-top: 2px;
        font-family: $font-gt-super-display;
        font-style: normal;
        font-weight: 900;        
        line-height: 84px;
        letter-spacing: 3px;        
        & .challenge__title-style1{
            font-size: 66px;
        }
        & .challenge__title-style2{
            font-size: 64px;
        }
        & .challenge__title-style3{
            font-size: 63px;
        }
        & .challenge__title-style4{
            font-size: 69px;
            margin-bottom: 36px;
        }
        & .challenge__text{
            font-family: $font-roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            max-width: 460px;
            letter-spacing: 0;
        }
    }

    & .challenge__images-part{
        display: flex;
        align-items: center;
        
        & .challenge__woman {
            width: 391px;
            height: 531px;
        }
        & .challenge__man {
            width: 557px;
            height: 371px;
            position: absolute;
            left: 0;
            bottom: -60px;
        }
    }
}