.container {
    max-width: 1296px;
    margin: 0 auto;
}
.text_pink {
    color: $color-pink;
}
.bg-color-green {
    background-color: $color-green;
}
.bg-color-pink {
    background-color: $color-pink;
}
.header_padding {
    padding-bottom: 85px;
}
.slack-bnt_margin {
    margin: 41px 0px 29px;
}